
    <h1>Edit Profile</h1>

    {{#if alertMessage}}
    <div class="alert alert-{{alertType}}">
        {{alertMessage}}
    </div>
    {{/if}}

    <form action="/profile/edit" method="POST">
                <p><strong>Name:</strong> {{ user.name }}</p>

        <div>
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required="true">
        </div>
        <div>
            <label for="confirmPassword">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required="true">
        </div>
        <button type="submit">Save Changes</button>
        <a href="/profile">Back</a>
    </form>


