<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thesis HUB</title>
    <!-- Bootstrap -->
    <link href="css/landingpage.css" rel="stylesheet">
  </head>
	
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Thesis Hub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active "> <a class="nav-link " href="login">Sign In <span class="sr-only">(current)</span></a> </li>
          <li class="nav-item"> <a class="nav-link" href="signup">Create Account</a> </li>
         
			<!-- DROP DOWN BUTTON 
			<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a> 
            </div>
          </li> -->
          
        </ul>
       
      </div>
    </nav>
    <header>
      <div class="jumbotron" style="padding-bottom: 15rem; padding-top: 15rem;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">Thesis HUB</h1>
              <p class="text-center">Fuel your research aspirations with Thesis HUB, propelling you towards shaping tomorrow's narrative.</p>
              <p>&nbsp;</p>
               <form class="col-sm-4 col-auto mx-auto form-inline my-2">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
				 <div class="row">
            <div class="col-sm-4 col-auto mx-auto"> <a class="btn btn-block btn-success" href="login" title="">Sign up now!</a> </div>
          		</div>	
            </div>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
            
           
            
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="text-center col-md-8 col-12 mx-auto">
              <p class="lead">Search over 100 million cross-publisher articles and counting</p>
              <p class="lead">Access your library, everywhere&nbsp;</p>
            </div>
          </div>
         
        </div>
      </div>
      </div>
    </section>
		  
		  
   <!--  <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <div class="jumbotron">
            <div class="row text-center">
              <div class="text-center col-12">
               
				  
				  <h2>Request a free quote</h2>
              </div>
              <div class="text-center col-12">
                <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form 
                <form id="feedbackForm" class="text-center">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" aria-describedby="nameHelp">
                    <span id="nameHelp" class="form-text text-muted" style="display: none;">Please enter your name.</span>
                  </div>
                  <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" aria-describedby="emailHelp">
                    <span id="emailHelp" class="form-text text-muted" style="display: none;">Please enter a valid e-mail address.</span>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message" aria-describedby="messageHelp"></textarea>
                    <span id="messageHelp" class="form-text text-muted" style="display: none;">Please enter a message.</span>
                  </div>
                  <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg"> Send</button>
                </form>
              </div>
            </div>
          </div>
        </div> -->
      </div> 
    </div> 
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © 2024 Thesis HUB. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.4.1.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script> 
    <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>