<h1>User Profile</h1>
    <div>
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Date of Birth:</strong> {{ user.dateOfBirth }}</p>
        
        <a href="/profile/edit">Edit Profile</a>

    </div>
    <a href="/logout">Logout</a>
    <a href="/mainPage">Back</a>