.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjusts for header/footer height */
    background-image: url('/public/ccsbg.png'); /* Placeholder for blurred background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}


.login-form {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.login-form img {
    width: 50px; /* Adjust size according to the Elsevier logo */
    margin-bottom: 20px;
}

.login-form h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.login-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

input[type="name"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="confirmpassword"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="date"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #0079b8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #005a87;
}

.login-form .switch-link {
    margin-top: 10px;
    font-size: 14px;
    color: #0079b8;
    text-decoration: none;
}

.login-form .switch-link:hover {
    text-decoration: underline;
}