/* Main content area for the login form */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjusts for header/footer height */
    background: linear-gradient(to bottom, #5AAEC9, #FFFFFF); /* Soft gradient background */
}

/* Container for the login form and layout */
.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px; /* Adjusted width to match image layout */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Welcome section (left side) */
.welcome-section {
    width: 50%;
    padding: 50px;
    text-align: left;
    color: #000;
    border-radius: 10px 0 0 10px; /* Rounded on the left */
}

.welcome-section h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 1rem;
    color: #4e4e4e;
    margin-top: 10px;
    line-height: 1.5;
}

/* Login form section (right side) */
.login-form {
    width: 20%;
    height: 50%;
    padding: 40px;
    border-radius: 10px 10px 10px 10px; /* Rounded only on the right */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #FFFFFF, #5AAEC9); /* Soft gradient background */
    align-items: center;
}


.login-form h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.login-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
/* Input fields styling */
.input-group {
    margin-bottom: 15px;
    width: 100%;
}

input[type="firstname"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="lastname"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="confirmpassword"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="date"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bbf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form .switch-link {
    margin-top: 10px;
    font-size: 14px;
    color: #0079b8;
    text-decoration: none;
}

.login-form .switch-link:hover {
    text-decoration: underline;
}
