.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 400px; /* Set width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.chatbot-input,
.chat-input {
display: flex;
align-items: center;
padding: 20px;
background-color: #000000;
border-radius: 0 0 20px 20px;

}

.chatbot-input
{
display: flex;
align-items: center;
padding: 5px;
background-color: transparent;
border-radius: 0 0 ;
}


@media (max-width: 768px) {
.chatbot-input {
 display: flex;
 align-items: center;

 background-color: transparent;
 border-radius: 0 0 ;
}

.modal-overlay {
  
  max-height: 200vh; /* Further reduce max height */
}

.modal-content {


}
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 400px; /* Set width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.chatbot-input,
.chat-input {
display: flex;
align-items: center;
padding: 20px;
background-color: #000000;
border-radius: 0 0 20px 20px;

}

.chatbot-input
{
display: flex;
align-items: center;
padding: 5px;
background-color: transparent;
border-radius: 0 0 ;
}


@media (max-width: 768px) {
.chatbot-input {
 display: flex;
 align-items: center;

 background-color: transparent;
 border-radius: 0 0 ;
}

.modal-overlay {
  
  max-height: 200vh; /* Further reduce max height */
}

.modal-content {


}
}


