.footer {
    background-color: #f9f9f9;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    width: 100%;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap; /* Ensures content wraps if screen is too small */
}

.footer-logo {
    
    /* Adds some space below logos */
    height: 40px; /* Adjust size according to the logo */

}



.footer-links {
    display: flex;
    gap: 15px;
    flex: 1; /* Allows the links to take up space and align better */
    
}

.footer-links a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-text {
    text-align: left;
    font-size: 12px;
    color: #666;
    flex: 1; /* Adjust width so text doesn't get squeezed */
    margin-top: 10px; /* Space from above elements */
}

.footer-text a {
    color: #000;
    text-decoration: underline;
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  /* Close Button */
  .modal-content button {
  top: 10px;
    right: 10px;
  }
  

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Stacks elements vertically on smaller screens */
        align-items: flex; /* Aligns items to start for better readability */
        height: calc(30vh - 300px); /* Adjusts for header/footer height */
 
    }

    .footer-links, .footer-text {
        text-align: center; /* Center align text on smaller screens */
        margin-bottom: 15px; /* Adds some space below each section */
     
    }

    .footer-logo {
        justify-content: center; /* Centers logos on smaller screens */
        height: 0; /* Logo Hide */
        margin-bottom: 15px; /* Adds some space below each section */
   
        
        
    }
}

@media (max-width: 480px) {
    .modal-content {
      width: 95%;
      overflow-y: scroll;
    }
}