.main-page-logs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  height: calc(100vh - 80px); /* Adjusts for header/footer height */
  background-image: linear-gradient(#cdf7ff, transparent);

}



.logs-content {
  /* Styling for logs content */
  background-color: none;
  overflow-y: auto;
  
}

.log-table {
  width: 100%;

 
}

.log-table th, .log-table td {
  border: 1px solid #ddd;
  padding: 8px;
  
}

.log-table th {
  background-color: #ddd;
}

.content.sidebar-open {
  margin-left: 250px; /* Adjust according to the width of your sidebar */
}