.main-page-logs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  height: calc(100vh - 80px); /* Adjusts for header/footer height */
  background-image: linear-gradient(#cdf7ff, transparent);

}



.logs-content {
  /* Styling for logs content */
  background-color: none;
  overflow-y: auto;
  
}

.log-table {
  width: 100%;

 
}

.log-table th, .log-table td {
  border: 1px solid #ddd;
  padding: 8px;
  
}

.log-table th {
  background-color: #ddd;
}

.sidebar-open {
  margin-left: 250px; /* Adjust according to the width of your sidebar */
}

.password-container {
  position: relative;
  width: 100%; /* Ensure it takes the full width of the parent */
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.toggle-password {
  position: absolute;
  right: 15px; /* Adjust for spacing from the edge */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999; /* Change color as needed */
  font-size: 16px; /* Adjust icon size if necessary */
  z-index: 1; /* Ensures it sits above the input */
}
