/* src/Sidebar.css */

.menu-button {
  position: absolute;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  z-index: 10000; /* Ensure the button is above other content */

    background-color: transparent;
    width: 5%;
    top: 90px;
    left: 1px;
    font-size: 24px;
    color: black;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button is above other content */
  
}

.sidebar {
position: fixed;
padding: 20px;
overflow-y: auto;
transition: transform 0.3s ease;
left: 0;
width: 250px; /* Adjust width as needed */
border-color: black;
transition: transform 0.3s ease;

}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover {
  background-color: #d4d4d4;
}

.content.sidebar-open {
  margin-left: 250px; /* Adjust according to the width of your sidebar */
}


